<!-- src/components/footer.html -->
<footer
    class="block md:hidden fixed bottom-0 left-0 right-0 rounded-t-3xl border border-[#383838] bg-[#121212] bg-opacity-80 backdrop-blur-md backdrop-opacity-90">
    <nav class="flex justify-around py-4 text-xs">
        <a href="/index.html" class="text-gray-300 hover:text-[#48CAE4] transition-colors">Home</a>
        <a href="/pages/about.html" class="text-gray-300 hover:text-[#48CAE4] transition-colors">About</a>
        <a href="/pages/portfolio.html" class="text-gray-300 hover:text-[#48CAE4] transition-colors">Portfolio</a>
        <a href="/pages/blog.html" class="text-gray-300 hover:text-[#48CAE4] transition-colors">Blog</a>
    </nav>
</footer>