<!-- src/components/header.html -->
<header class="max-w-7xl mx-auto flex flex-col relative">
    <nav class="max-w-7xl px-5 md:fixed top-0 z-[98] w-screen backdrop-blur-md bg-opacity-80">
        <div class="container mx-auto flex flex-wrap items-center justify-between">
            <a href="/" class="flex">
                <span class="self-center text-lg text-[#48CAE4] font-semibold whitespace-nowrap hover:text-[#CAF0F8]">
                    amaralfatah
                </span>
            </a>
            <div class="flex md:order-2 fadein-bot">
                <a href="https://github.com/amaralfatah">
                    <img class="w-9 rounded-full"
                        src="https://seeklogo.com/images/G/github-logo-2E3852456C-seeklogo.com.png" alt="github">
                </a>
            </div>
            <div class="hidden md:flex justify-between items-center w-full md:w-auto md:order-1" id="mobile-menu-3">
                <ul class="flex-col md:flex-row flex md:space-x-8 mt-4 md:mt-0 md:text-sm md:font-medium">
                    <li>
                        <a href="/"
                            class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-gray-500 md:p-0">Home</a>
                    </li>
                    <li>
                        <a href="/pages/about.html"
                            class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-gray-500 md:p-0">About</a>
                    </li>
                    <li>
                        <a href="/pages/portfolio.html"
                            class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-gray-500 md:p-0">Portfolio</a>
                    </li>
                    <li>
                        <a href="/pages/blog.html"
                            class="text-gray-700 hover:bg-gray-50 border-b border-gray-100 md:hover:bg-transparent md:border-0 block pl-3 pr-4 py-2 md:hover:text-gray-500 md:p-0">Blog</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>