/* /src/css/animations.css */
/* Fade Animations */
@keyframes fadeInUp {
    from {
        opacity: 0;
        transform: translate3d(0, 100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInBot {
    from {
        opacity: 0;
        transform: translate3d(0, -100%, 0);
    }

    to {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeZoomIn {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes fadeZoomUp {
    0% {
        opacity: 0;
        transform: scale(0.5);
    }

    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes wave-animation {
    0% {
        transform: rotate(0deg);
    }

    10% {
        transform: rotate(14deg);
    }

    20% {
        transform: rotate(-8deg);
    }

    30% {
        transform: rotate(14deg);
    }

    40% {
        transform: rotate(-4deg);
    }

    50% {
        transform: rotate(10deg);
    }

    60% {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(0deg);
    }
}

/* Animation Classes */
.fadein-up {
    opacity: 0;
    animation: fadeInUp 0.5s forwards;
    animation-delay: 500ms;
}

.fade-in-from-left {
    opacity: 0;
    animation: fadeInLeft 0.5s ease-out forwards;
    animation-delay: 500ms;
}

.fadein-right {
    opacity: 0;
    animation: fadeInRight 0.5s ease-out forwards;
    animation-delay: 500ms;
}

.fadein-bot {
    opacity: 0;
    animation: fadeInBot 0.5s forwards;
}

.fade-zoom-in {
    animation: fadeZoomIn 1s ease-in-out;
}

.fade-zoom-up {
    animation: fadeZoomUp 1s ease-in-out;
}

.animate-spin {
    animation: spin 1s linear infinite;
}

.wave {
    animation: wave-animation 2.5s infinite;
    transform-origin: 70% 70%;
    display: inline-block;
}

/* Animation Delays */
.fadein-1 {
    animation-delay: 200ms;
}

.fadein-2 {
    animation-delay: 400ms;
}

.fadein-3 {
    animation-delay: 600ms;
}

.fade-500 {
    animation-delay: 500ms;
}

.fadeins-1 {
    animation-delay: 500ms;
}

.fadeins-2 {
    animation-delay: 800ms;
}